<h1><%= @bag.adv %> </h1>
<p> <%= @bag.description %> </p>
<table>
  <tr>
    <th>created</th>
    <th>updated</th>
  </tr> 
  <td><%= @bag.created_at %></td> 
  <td><%= @bag.updated_at %></td> 
</table>
<p> <%= link_to 'kit exchange', bags_path %> </p>